
{% extends 'base.html' %}

{% load static %}

{% block meta %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>

<style>
.accordion{
  width:90%;
  max-width:600px;
  list-style:none;
  padding: 0;
  margin: 0 auto;
}

.acc{
  display: flex;
  flex-direction:column;
}

/* li + li{
  border-top:1px solid white;
  border-bottom:1px solid white;
} */

.accordion-control{
  text-align: left;
  font-size:1.2rem;
  background:#000;
  color:white;
  border:none;
  padding: 0.8em 1em;
  cursor:pointer;
}

.accordion-panel{
  padding: 1em;
  background:#444;
  color:#f4f4f4;
  display: none;
}
.up{
  position: relative;
  display: inline;
  left: 75%;
}
.down{
  position: relative;
  display: inline;
  left: 76%;
}
.sect{
  position: relative;
  display: inline;
}
</style>
{% endblock meta %}

{% block content %}
  <h2>Accordion</h2>
  <div class="accordion">
    <div class="acc">
      <div class="blok">
        <div class="accordion-control" >
          <div class="sect">Section 1</div>
          <div class="up" ><button>^</button></div>
          <div class="down" id="down1"><button>V</button></div>
        </div>
        <div class="accordion-panel">test1</div>
      </div>
    </div>
    <div class="acc">
      <div class="blok">
        <div class="accordion-control" >
          <div class="sect">Section 2</div>
          <div class="up" ><button>^</button></div>
          <div class="down" id="down2"><button>V</button></div>
        </div>
        <div class="accordion-panel">test2</div>
      </div>
    </div>
    <div class="acc">
      <div class="blok">
        <div class="accordion-control" >
          <div class="sect">Section 3</div>
          <div class="up" ><button>^</button></div>
          <div class="down" id="down3"><button>V</button></div>
        </div>
        <div class="accordion-panel">test3</div>
      </div>
    </div>
  </div>

  
  <script type="text/javascript" src="{% static 'js/jscript.js' %}"></script>
{% endblock content %}
